* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: Georgia, "Times New Roman", Times, serif;
}

.content {
  padding: 80px 30px 30px 280px;
}

li {
  list-style-type: none;
  a {
    text-decoration: none;
  }
}
